* {
    margin: 0;
    padding: 0;
}

.aox {
    position: relative;
    margin: 100px auto;
    width: 800px;
    height: 500px;
    box-shadow: 0 1px 30px #cdcdcd;
}

.aox .box {
    float: left;
    width: 600px;
    height: 500px;
}

.box .b_top {
    width: 600px;
    height: 50px;
    background-color: #f5f5f5;
    cursor: move;
}

.b_top .b_t_title {
    box-sizing: border-box;
    padding: 0 15px;
    width: auto;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    font-weight: inherit;
    color: #333333;
}

.box .b_center {
    box-sizing: border-box;
    padding: 15px;
    width: 600px;
    height: 320px;
    background-color: #ffffff;
    overflow-y: auto;
}

/* 消息 */
.b_center .left_msg {
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.b_center .right_msg {
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.left_msg .picture {
    float: left;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    border-radius: 15%;
}

.right_msg .picture {
    float: right;
    margin-left: 10px;
    width: 37px;
    height: 37px;
    border-radius: 15%;
}

.systemMsg {
    background-image: url(../img/s.png);
    background-position: center center;
    background-size: cover;
}

.myMsg {
    background-image: url(../img/i.jpg);
    background-position: center center;
    background-size: cover;
}

.otherMsg {
    background-image: url(../img/h.jpg);
    background-position: center center;
    background-size: cover;
}

.left_msg .info {
    margin-bottom: 5px;
    margin-left: 50px;
    width: auto;
    height: auto;
    font-size: 13px;
    color: #9c9c9c;
    text-align: left;
}

.right_msg .info {
    margin-bottom: 5px;
    margin-right: 50px;
    width: auto;
    height: auto;
    font-size: 13px;
    color: #9c9c9c;
    text-align: right;
}

.left_msg .msg {
    box-sizing: border-box;
    margin-left: 50px;
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #ffffff;
    background-color: #a3e29f;
    border-radius: 3px;
    overflow-y: hidden;
}

.right_msg .msg {
    box-sizing: border-box;
    margin-right: 50px;
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #ffffff;
    background-color: #9fbae2;
    border-radius: 3px;
    overflow-y: hidden;
}


.box .b_buttom {
    position: relative;
    width: 600px;
    height: 130px;
    border-top: 1px solid #f1f1f1;
}

.b_buttom textarea {
    box-sizing: border-box;
    padding: 15px;
    width: 600px;
    height: 129px;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    background-color: #ffffff;
    font-family: 微软雅黑;
}

.b_buttom button {
    position: absolute;
    box-sizing: border-box;
    padding: 0 10px;
    width: 70px;
    height: 26px;
    bottom: 15px;
    border: none;
    outline: none;
    line-height: 26px;
    background-color: #5FB878;
    color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.b_buttom .clearChatText {
    right: 95px;
}

.b_buttom .sendChatText {
    right: 15px;
}

.b_buttom button:hover {
    background-color: #539c68;
}


.aox .cox {
    box-sizing: border-box;
    padding: 15px;
    float: right;
    width: 200px;
    height: 500px;
    background-color: #f5f4f4;
    border-left: 1px solid #e8e8e8;
}

.cox input {
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #dedede;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    color: #333333;
}

.cox button {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.cox #connectStateColor {
    margin-bottom: 15px;
    width: 100%;
    height: 20px;
    border-radius: 3px;
    background-color: #d57575;
}

.cox .b_left {
    float: left;
    background-color: #7088b8;
}

.cox .b_left:hover {
    background-color: #4b6393;
}

.cox .b_right {
    float: right;
    background-color: #b87070;
}

.cox .b_right:hover {
    background-color: #934848;
}

.cox .sb {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #333333;
    font-size: 14px;
}

.cox button:hover {

}